{% if archetype_list %}
    <ul>
    {% for archetype in archetype_list %}
        <li>Archetype: {{ archetype.id }}
            <ul>
            {% for card in archetype.card_set.all %}
                {% with slugs=card.split_slug %}
                    <li><a href="{% url 'detail' slugs.0 slugs.1 %}">{{ card }}</a></li>
                {% endwith %}
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No archetypes are available.</p>
{% endif %}